<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <div class="container">
      <h1 class="h1 pageHeader">Edit Tweed Suit</h1>
      <form action="/tweed/app/<%=tweed.id%>?_method=PUT" method="POST">
        <fieldset class="fieldset">
          Name: <input class="input" type="text" name="name" value="<%=tweed.name%>"/><br/>
          Brand: <input class="input" type="text" name="brand" value="<%=tweed.brand%>"><br/>
          Price: <input class="input" type="number" name="price" value="<%=tweed.price%>"><br/>
          Color: <input class="input" type="text" name="color" value="<%=tweed.color%>"/><br/>
          Pattern: <input class="input" type="text" name="pattern" value="<%=tweed.pattern%>"/><br/>
          Weight: <input class="input" type="text" name="weight" value="<%=tweed.weight%>"/><br/>
          Description: <input class="input textArea" type="textarea" name="description" value="<%=tweed.description%>"/><br/>
          <input class="btn submitBtn" type="submit" value="Submit Changes"/>
        </fieldset>
      </div>
      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
  </body>
</html>
